.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  padding: 10px;
}

.form_login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;

  background-color: #ffffff;

  border-radius: 5px;
  border: 1px solid #000000;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important; /* Задаём свой фон */
  background-color: transparent !important; /* Явно указываем цвет фона */
  color: blue !important; /* Цвет текста */
  border: 1px solid #000000 !important; /* Рамка */
  padding: 3px;
  font-size: 12px;
  outline: none;
}

.form_login_input {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 3px;
  font-size: 12px;
  background-color: transparent;
  box-shadow: 2px 4px 14px -7px #000000;
}
.form_login_input::placeholder {
  color: #00000069;
  font-size: 12px;
  outline: none;
}

.form_login_input:focus {
  color: #000000;
  font-size: 12px;
  border: 1px solid #000000;
  outline: none;
}

.form_login_button {
  border: none;
  border-radius: 5px;
  padding: 3px;
  color: #ffffff;
  background-color: blue;
  width: 50%;
  font-size: 12px;

  box-shadow: 2px 4px 14px -4px #000000;
}

.form_context {
  color: green;
}

.form_container_fon {
  /* padding: 20px; */
}
